* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #4a4a4a;
}

.img-logo {
    max-width: 155px;
    display: block;
    margin: 10px auto 0;
}

.menu {
    text-transform: uppercase;
    /* background-color: red; */
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.menu li {
    margin: 10px 20px 13px;
}

.menu a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
}